.wrapper
    width 100%
    height 95vh

    display flex /* establish flex container */
    flex-direction column /* make main axis vertical */
    justify-content center /* center items vertically, in this case */
    align-items center /* center items horizontally, in this case */

    font-family -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
        Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'
    color #424242

.title
    font-size 3em