.element
    margin 20px

.button_player
    margin 20px

label 
    font-size .8em

.container_piano
    display: flex; /* establish flex container */
    flex-direction: column; /* make main axis vertical */
    justify-content: center; /* center items vertically, in this case */
    align-items: center; /* center items horizontally, in this case */

    .slider_volume
        -webkit-appearance none
        width 50%
        height 5px
        border-radius 5px
        background #d3d3d3
        outline none
        opacity 0.7
        -webkit-transition .2s
        transition opacity .2s

        &:hover
            opacity 1

    .slider_volume::-webkit-slider-thumb 
        -webkit-appearance none
        appearance none
        width 10px
        height 10px
        border-radius 50%
        background grey
        cursor pointer


    .slider_volume::-moz-range-thumb 
        width 10px
        height 10px
        border-radius 50%
        background grey
        cursor pointer
